<!DOCTYPE=html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
	  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"></script>
	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<title>Movies</title>
	<link rel="stylesheet" href="/css/style.css" 
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#">Jaylor</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Movies</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="#">Food</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

	<div id="container">
  	  <h1>Random Movie Picker</h1>
	  <p>:).</p>
	  <!-- Generate new quote button -->
	    <button id="movieButton" disabled>Random Movie</button>
		  <!-- Quote paragraph -->
		  <p id="quote">"Just do it."<br><strong>Shia LaBeouf</strong></p>
		</div>



		<label for="title">Title</label>
		<input id="title" type="" name="title" value=""/>

		<label for="genre">Example multiple select</label>
	    <select id="genre" class="form-control">
	      
	      <option>Action</option>
	      <option>Animated</option>
	      <option>Comedy</option>
	      <option>Drama</option>
	      <option>Fantasy</option>
	      <option>Horror</option>
	      <option>Indie</option>
	      <option>Mystery</option>
	      <option>Romance</option>
	      <option>SciFi</option>
	      <option>Super Hero</option>
	      <option>Western</option>
	      <option>Other</option>

	    </select>

		<button id="addMovie" class="btn btn-primary" >Add</button>
			</div>

	<script>
		$("#addMovie").click(function(){
			console.log("test");
		    $.post("http://jaylor.design/api/addMovie",
		    {
		        title: $("#title").val(),
		        genre: $("#genre").val()
		    },
		    function(data, status){
		        alert("Data: " + data + "\nStatus: " + status);
		    });
		});
		var movieList;
		function httpGetAsync(theUrl, callback)
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}

		function setMovies(movies){
			movieList = JSON.parse(movies);
			document.getElementById("movieButton").disabled = false;
		}
		$('#movieButton').on('click', function() {
		 $("#movieButton")
            .animate( { backgroundColor: "#00eeaa" }, 50 )
            .animate( { backgroundColor: "#00aaff" }, 200 );
	    var randomIndex = Math.floor(Math.random() * movieList.length); 
	  	var randomElement = movieList[randomIndex][0];
	    $('#quote').html('');
	    $('#quote').append(randomElement);
	    
  		});

  		httpGetAsync('http://jaylor.design/api/getMovies', setMovies);

	</script>
</body>
</html>